
html {
    scroll-behavior: smooth;
}

#navbar {
    background-color: rgba(2, 2, 87, 0.882);
}

.aboutMe {
    background-color: rgba(2, 2, 87, 0.882);
    height: 100vh;
}

#projects {
    background-image: url("/public/images/florian-olivo-4hbJ-eymZ1o-unsplash.jpg");
    height: 140vh;
}

#navName {
    color: rgba(255, 255, 255, 0.86);
}

#aboutName {
    color: rgba(255, 255, 255, 0.86);
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
}

#aboutText {
    color: rgba(255, 255, 255, 0.86);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: justify;
}

#myImage {
    height: 350px;
    width: 350px;
}

#homeContainer {
    padding-top: 100px;
    background-image: url("/public/images/pexels-luis-gomes-546819.jpg");
    background-color: #cccccc;
    height: 100vh;
}

#myName {
    color: rgba(255, 255, 255, 0.86);
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

#projectTitle {
    color: rgba(255, 255, 255, 0.86);
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    padding-top: 100px;
}

#buttonRight {
    margin-left: 20px;
}

#projectText {
    font-size: small;
}

#cardBottom {
    margin-top: 5px;
}

#contactInfo {
    height: 100vh;
    background-color: rgba(2, 2, 87, 0.882);
}

#headerText {
    color: rgba(255, 255, 255, 0.86);
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    padding-top: 100px;
}

.hi {
    padding-top: 100px;
}
